<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listings Management Dashboard</title>
    
    <link rel="stylesheet" href="/homepage.css">
    <style>
        .product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  text-decoration: none;
  color: #000;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.product-card:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit:scale-down;
  padding: 5px;
}

.product-info {
  padding: 12px;
}

.price {
  font-weight: bold;
  color: #2e7d32;
}

.rating {
  color: #ff9800;
}

    </style>

</head>

<body>
    <div class="main-layout">
     <%- include('header') %>
   
        <!-- Content Area -->
        <main class="content-area">
            <div class="page-header">
                <h1 class="page-title">Order Dashboard</h1>

  



   
  <div class="product-grid">

  <% orders.forEach(order => { %>
    <% order.items.forEach(item => { %>

      <div class="product-card" >

        <div class="product-info">
          <h3><%= item.productName %></h3>

          <p><strong>Product ID:</strong> <%= item.productId %></p>

          <p><strong>Order ID:</strong> <%= order.orderId %></p>

          <p><strong>Status:</strong> <%= order.orderStatus %></p>

          <p>
            <strong>Shipping:</strong><br>
            <%= order.shippingAddress.name %>, <br>
            <%= order.shippingAddress.city %> - <%= order.shippingAddress.pincode %>
          </p>
        </div>

      </div>

    <% }) %>
  <% }) %>

</div>





        
</body>
</html>